@font-face {
	font-family: 'Conv_Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
    src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), 
    url('../fonts/Roboto-Regular.ttf') format('truetype'), 
    url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-BoldCondensedItalic';
	src: url('../fonts/Roboto-BoldCondensedItalic.eot');
    src: local('☺'), url('../fonts/Roboto-BoldCondensedItalic.woff') format('woff'), 
    url('../fonts/Roboto-BoldCondensedItalic.ttf') format('truetype'), 
    url('../fonts/Roboto-BoldCondensedItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Medium';
	src: url('../fonts/Roboto-Medium.eot');
    src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), 
    url('../fonts/Roboto-Medium.ttf') format('truetype'), 
    url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
    src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), 
    url('../fonts/Roboto-Bold.ttf') format('truetype'), 
    url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family:'Conv_Roboto-Regular',Sans-Serif;
    font-size: 14px;
    letter-spacing: 0.68px;
    color: #323232;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

h1 {
  font-size: 1.55rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2.42px;
  color: #323232;
  text-transform: uppercase;
}

h3 {
    color: #323232;
    font-size: 1rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1rem;
    letter-spacing: 0.78px;
    margin-top: -1px;
    margin-bottom: 3px;
}

h3.heading-section, h4 {
    font-family: 'Conv_Roboto-BoldCondensedItalic',Sans-Serif;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 50px;
    letter-spacing: 0.1rem;
}

h3 {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
    margin-bottom: 1.5rem;
}


a {
    text-decoration: none;
    outline: none;
    color: #999;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #f7b500;
}

a, header, .leader-position, .product-wrap {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    padding-left: 3.15vw;
    padding-right: 3.15vw;
}

header.sticky.scroll-down {
    top: -135px;
}

header.sticky {
    background-color: white;
    top: -50px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.55);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.55);
}

header.sticky a {
    color: #323232;
}

header.scroll-down .logo {
    margin-bottom: 1.25rem;
}

header.sticky .header-middle .menu.sf-menu > li > a {
    color: #323232;
    padding: 1.3rem 0 1rem 2rem;
}

.header-top {
    display: flex;
    border-bottom: 0.1rem solid rgba(235,235,235,0.7);
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: #777;
    margin-bottom: .1rem;
}

.header-top .top-menu li + li {
    margin-left: 2rem;
}

.header-top .header-dropdown>a, 
.header-top .header-dropdown>span, 
.header-top .top-menu a, 
.header-top .top-menu {
    color: #fff;
}

.header-top a:hover, .header-top a:focus {
    color: #f7b500;

}

.header-dropdown a:hover, .header-dropdown a:focus {
    text-decoration: none;
}

.header-dropdown>a, .header-dropdown>span {
    position: relative;
    display: inline-flex;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: 2.2rem;
    align-items: center;
    text-transform: uppercase;
}

.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}

.header-right {
    margin-left: auto;
    align-self: stretch;
}

.header-dropdown {
	position: relative;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.header-dropdown:first-child .header-menu {
    left: 0;
}

.header-menu {
    position: absolute;
    left: -1.5rem;
    top: 100%;
    z-index: 20;
    padding-top: .6rem;
    padding-bottom: .6rem;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    box-shadow: 2px 5px 8px rgba(51,51,51,0.05), -2px 5px 8px rgba(51,51,51,0.05);
    transition: all .25s;
    margin-top: 1px;
}

.header-menu:before {
    content: '';
    display: block;
    width: 100%;
    height: .1rem;
    position: absolute;
    top: -1px;
    left: 0;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-menu ul li {
    margin: 0;
}

.top-menu {
    text-transform: uppercase;
    margin: 0;
}

.top-menu .fa {
    margin-right: 0.5rem;
}

.top-menu ul {
    display: flex;
    align-items: center;
}

.top-menu>li {
    position: relative;
}

.top-menu > li > a {
    display: none;
}

.top-menu a {
    display: inline-flex;
    align-items: center;
}

.main-nav {
    margin-left: 0;
}

.sticky-wrapper .header-middle {
	display: flex;
}

.header-middle {
	border: none;
	position: relative;
	display: flex;
}

.logo {
	display: block;
	margin-top: 1.75rem;
	margin-bottom: 1.95rem;
	flex-shrink: 0;
	min-height: 25px;
}

.logo img:first-child {
    display: block;
}
.logo img:last-child {
    display: none;
}

header.sticky .logo img:first-child {
    display: none;
}
header.sticky .logo img:last-child {
    display: block;
}

.header-center {
	margin-left: auto;
	margin-right: auto;
}

.menu {
	display: flex;
	align-items: center;
}
.menu, .menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu > li + li {
	margin-left: 0;
}
.menu li {
    position: relative;
    background: none;
}
.sf-arrows .sf-with-ul:after {
    right: 0em;
    border-top-color: rgba(255,255,255,0);
}
.sf-arrows > li > .sf-with-ul:focus:after, .sf-arrows > li:hover > .sf-with-ul:after, .sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #f7b500;
}
.sf-menu > li a {
    border: none;
    color: #333;
}
.sf-menu li:hover, 
.sf-menu li.sfHover {
    background: none;
}

.sf-menu li:hover > a,
.sf-menu li:focus > a {
    color: #f7b500;
}

.sf-menu li ul li:hover, 
.sf-menu li ul li.sfHover {
    background: rgba(0, 0, 0, 0.5);
}
.sf-menu ul li {
	background: #fff;
}
.header-middle .menu > li > a {
    padding-right: 0rem;
    transition: all .3s;
    position: relative;
    color: white;
}

.menu > li > a {
    font-family: 'Conv_Roboto-Medium', sans-serif;
	color: #333;
	padding: 3rem 2rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}

.menu>li>a:hover,
.menu>li>a:focus {
    color: #f7b500;
}

.header-search {
    position: relative;
    margin: 0;
    font-size: 0;
    line-height: 1;
    padding: 0;
    border: none;
}

.menu li a i {
	margin-left: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search-toggle {
	position: relative;
	display: block;
	font-size: 2.4rem;
	line-height: 0;
	min-width: 2.5rem;
	padding: .3rem .2rem;
	font-weight: 400;
	color: #333;
	text-align: center;
	z-index: 11;
}

.search-toggle:hover, .search-toggle:focus {
    color: #fcb941;
}

.header-search .header-search-wrapper.show {
    display: flex;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.header-search .form-control {
    flex: 1 1 auto;
    padding: .9rem 5rem .9rem 2.3rem;
    width: 100%;
    margin: 0;
    height: 38px;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: none;
}

.cart-dropdown .dropdown-toggle, .compare-dropdown .dropdown-toggle, .search-toggle {
	color: #fff;
}

.header .fa-search {
    font-size: 1.5rem;
}

.header-search form {
	margin: 0;
}

.header-search .header-search-wrapper {
	position: absolute;
	right: -1.4rem;
	top: 50%;
	margin-top: -20px;
	display: none;
	align-items: stretch;
	overflow: visible;
	border-radius: 20px;
	width: 100%;
	min-width: 270px;
	background-color: #fff;
	border: .1rem solid #ebebeb;
	border-radius: 20px;
	z-index: 10;
}

.header-search .form-control {
	flex: 1 1 auto;
	padding: .9rem 2rem .9rem 1.3rem;
	width: 100%;
	margin: 0;
	height: 36px;
	line-height: 20px;
	border: none;
	border-radius: 20px;
    box-shadow: none;
    transition: all 0.3s;
}

.header-search .form-control, .header-search select {
	line-height: 1;
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing: 0;
	background-color: #fff;
	margin: 0;
}

section {
    margin-bottom: 65px;
}



/*slider index page*/
.slider-wrapper {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1080px;
    overflow: hidden;
}

.slider .intro {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slider img.bg-slid {
    position: absolute;
    top: -4rem;
    width: 100%;
    height: calc(100% + 50vh);
    object-fit: cover;
    z-index: -1;
}

.slider .content {
    text-align: center;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1.9rem;
}

.btn {
    border-radius: 5px;
    border: solid 2px #f3963e;
    color: #f3963e;
    letter-spacing: 0.73px;
    padding: 7px 25px;
}

.btn:hover,
.btn:focus,
.btn.active {
    background-color: #f3963e;
    color:#323232;
}

.btn.big {
    padding: 12px 40px;
    border-radius: 7px;
    text-transform: uppercase;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    color: #939393;
}

.parthners {
    margin-top: -10rem;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.18) 7%, rgba(255, 255, 255, 0.73) 47%, #ffffff);
}

.slider-brands {
    padding: 0 30px;
    z-index: 1;
}

.slider-brands div {
    height: auto;
    display: flex !important;
    padding: 0px 1.1%;
}

.slider-brands img {
    margin: auto;
    display: block;
    height: auto;
    width: 100%;
}

.slider-brands .slick-next, .leader-positiions-wrap .slick-next,
.slider-brands .slick-prev, .leader-positiions-wrap .slick-prev {
    width: 17px;
    height: 32px;
    z-index: 2;
    top: calc(50% - 0px);
}

.slider-brands .slick-prev, .leader-positiions-wrap .slick-prev {
    background: url(../images/brends-slider-arrow-left.png) no-repeat center center;
    left: 0;
    
}

.slider-brands .slick-next, .leader-positiions-wrap .slick-next {
    background: url(../images/brends-slider-arrow-right.png) no-repeat center center;
    right: 0;
}


/*types sport index page*/
.sport-block {
    margin-bottom: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sport-block a {
    padding: 23% 5%;
}

.sport-block.type1 {
    background: url(../images/Group_2.jpg) center center;
    background-size: cover;
}
.sport-block.type2 {
    background: url(../images/Group_4.jpg) center center;
    background-size: cover;
}
.sport-block.type3 {
    background: url(../images/Group_5.jpg) center center;
    background-size: cover;
}
.sport-block.type4 {
    background: url(../images/Group_6.jpg) center center;
    background-size: cover;
}
.sport-block.type5 {
    background: url(../images/Group_7.jpg) center center;
    background-size: cover;
}
.sport-block.type6 {
    background: url(../images/Group_10.jpg) center center;
    background-size: cover;
}

.sport-block a h3 {
    font-family: 'Conv_Roboto-BoldCondensedItalic', sans-serif;
    font-size: 2.8rem;
    font-style: italic;
    color: white;
}


/*top sales position*/
.leader-position-slider {
    margin-bottom: 35px;
}

.leader-position {
    text-align: center;
    padding: 5%;
    margin: 5% 5% 10%;
}

.leader-position h3,
.product-wrap h3 {
    text-align: center;
    padding-bottom: 5%;
}

.leader-position .text-block {
    padding: 0 5%;
    position: relative;
}

.action {
    display: flex;
    justify-content: center;
}

.leader-position .action,
.product-wrap .action {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all .35s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    background-color: #fff;
    padding: 13% 0 12%;
}

.text-block p {
    padding: 0 0 5% 0;
    line-height: 1.57;
    letter-spacing: 0.86px;
}

.leader-position:hover,
.leader-position:focus {
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
}

.leader-position:hover .text-block .action,
.leader-position:focus .text-block .action {
    transform: translateY(22%);
    visibility: visible;
    opacity: 1;
}

.leader-position .img-block {
    padding: 15px 15px 29px;
    text-align: center;
}

.leader-position .text-block {
    text-align: left;
    margin: 0;
}

/*news*/
.banners.stretch {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 85px;
}


.banners.stretch .banner-lg,
.banners.stretch .banner-sm {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 242px;
}

.banners.stretch .banner-lg {
    height: 484px;
}

/*
.banners.stretch img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}
*/

.banners.stretch .intro {
    width: 80%;
}

.banner-sm-div {
    display: flex;
    flex-wrap: wrap;
}

.banner-sm.font-black .intro {
    left: 3rem;
}

.intro {
    text-align: center;
}

.banners.stretch .banner-lg .intro {
    color: white; 
}

.banners.stretch .banner-lg .intro h4 {
    margin-bottom: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.banners.stretch .banner-lg .intro p {
    margin-bottom: 30px;
}

.banner-sm-div h4 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 25px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-sm-div .intro {
    text-align: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

/*popular items*/
.featured-products {
    background-color: #f8f8f8;
    margin-top: -90px;
    padding-top: 85px;
}

.featured-products .container .row>div {
    margin-bottom: 30px;
}

.product-wrap {
    background-color: #fff;
    padding: 5%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-wrap .img-block {
    padding: 15px 15px 20px;
}
.product-wrap.big .img-block {
    padding: 25px 15px 30px;
    max-height: 395px;
}

.product-wrap .text-block {
    padding: 0 10%;
    position: relative;
    text-align: left;
    margin: 0;
    overflow: hidden;
}

.product-wrap .text-block p {
    max-height: 105px;
    overflow: hidden;
}

.product-wrap.big {
    height: calc(100% - 30px);
}

.featured-products .row>div:last-child {
    margin-bottom: 5rem;
}

.product-wrap.big .text-block p {
    max-height: 345px;
    /*padding-bottom: 180px;*/
}

.product-wrap.big .text-block {
    height: 40vh;
    overflow: hidden;
}

.product-wrap.big .action {
    /*position: relative;*/
}

.product-wrap:hover .text-block .action, 
.product-wrap.big .text-block .action {
    transform: translateY(10%);
    visibility: visible;
    opacity: 1;
}

/*about index page*/
section.about {
    font-family: 'Conv_Roboto-Bold', sans-serif;
    color: #A1A1A1;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 1.42px;
    margin-top: 95px;
}

section.about p span {
    color: #323232;
}

/*subscribe*/
.subscribe h3.heading-section {
    text-transform: none;
    line-height: 3rem;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group {
    border-bottom: .1rem solid #222;
}

.subscribe-form input {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0;
    color: #a1a1a1;
    padding: .6rem .5rem;
    border: none;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.subscribe .input-group button {
    border: none;
    text-transform: uppercase;
}

/*footer*/

footer {
    background-color: #222222;
    padding: 65px 0 20px;
    color: white;
}

footer .container .row:last-child .col p {
    color: #838080;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #4b4a4a;
}

footer .title-block {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul.icon-wrap {
    padding-top: 5px;
    margin-bottom: 65px;
}

footer ul.icon-wrap li {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px #646464;
    padding: 9px 4px 5px 5px;
    margin-right: 10px;
    text-align: center;
}

footer a {
    color: #8d8989;
    text-decoration: none;
}

footer .fa {
    margin-right: 0;
    font-size: 1.6rem;
    vertical-align: 0;
}

footer .logo-and-ss img {
    margin-bottom: 15px;
}

footer ul.assortment {
    display: flex;
    flex-wrap: wrap;
}

footer ul.assortment li {
    margin-right: 0%;
    width: 50%;
}

.mobile-menu-toggler {
    color: #fff;
}



.mobile-menu-toggler {
    display: none;
}

.mmenu-active .page-wrapper {
    transform: translateX(200px);
}

.mmenu-active .mobile-menu-overlay {
    visibility: visible;
    opacity: 1;
}
.mobile-menu-overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(25,25,25,0.25);
    z-index: 1000;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.mobile-menu-container {
    position: fixed;
    left: -280px;
    top: 0;
    bottom: 0;
    z-index: 1001;
    background-color: #333;
    width: 100%;
    max-width: 280px;
    overflow-y: scroll;
    box-shadow: 0.1rem 0 0.6rem 0 rgba(51,51,51,0.5);
    will-change: transform;
    visibility: hidden;
    font-size: 1.2rem;
    line-height: 1.5;
    transition: all 0.4s ease;
}

.mobile-menu-light {
    background-color: #fff;
}

.mobile-menu-wrapper {
    position: relative;
    padding: 4.2rem 0;
}

.mmenu-active .mobile-menu-container {
    visibility: visible;
    transform: translateX(280px);
}


.mobile-menu-close:hover, .mobile-menu-close:focus {
    color: #fcb941;
}
.mobile-menu-close:hover, .mobile-menu-close:focus {
    color: #c96;
}
.mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .7rem;
    right: 1rem;
    padding: 0;
    z-index: 9;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1;
    color: #7A7A7A;
    transition: color .35s;
}

.mobile-nav {
    padding: 0;
    margin: 0 0 2.5rem;
}

.mobile-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-menu li {
    display: block;
    position: relative;
}

.mobile-menu li:first-child > a {
    padding: 1rem 1.5rem 1rem 2rem;
}

.mobile-menu-light .mobile-menu li a:not(:hover):not(:focus) {
    color: #323232;
}
.mobile-menu-light .mobile-menu li.open>a, .mobile-menu-light .mobile-menu li.active>a {
    color: #fcb941;
}

.mobile-menu-light .mobile-menu li a {
    border-bottom-color: #efefef;
}

.mobile-menu-light .mobile-menu li ul {
    border-bottom-color: #efefef;
}

.mobile-menu>li>a {
    text-transform: uppercase;
}
.mobile-menu li a {
    position: relative;
    display: block;
    padding: 1rem 4.5rem 1rem 2rem;
    color: #323232;
    border-bottom: 0.1rem solid rgba(255,255,255,0.08);
}

.mobile-menu-light .mmenu-btn:not(:hover):not(:focus) {
    color: #666;
}

.mmenu-btn:hover, .mmenu-btn:focus {
    color: #fcb941;
}

.mmenu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 50%;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: #fff;
    margin-top: -1.5rem;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: color 0.35s;
}

.mmenu-btn::after {
    display: inline-block;
}

.mobile-menu li ul {
    margin: 0;
    padding: .7rem 0 .9rem;
    display: none;
    margin-bottom: 0;
    border-bottom: 0.1rem solid rgba(255,255,255,0.08);
}

button:focus {
    outline: none;
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: transform 0.4s ease;
}


/*catalog page*/
header.catalog-page {
    background-color: #fff;
}

.catalog-page .header-top {
    border-color: #d3cdcd;
}

.catalog-page .header-top .header-dropdown>a, 
.catalog-page .header-top .header-dropdown>span, 
.catalog-page .header-top .top-menu a, 
.catalog-page .header-top .top-menu {
    color: #646464;
}

.catalog-page .mobile-menu-toggler {
    color: #323232;
}

.catalog-page .logo img:first-child {
    display: none;
}

.catalog-page .logo img:last-child {
    display: block;
}

.catalog-page .header-middle .menu > li > a {
    color: #323232;
}

.catalog-page .cart-dropdown .dropdown-toggle, 
.catalog-page .compare-dropdown .dropdown-toggle, 
.catalog-page .search-toggle {
    color: #323232;
}

.page-header {
    display: flex;
    background: url(../images/bg_page_header.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 183px;
    margin-top: 163px;
}

.page-header h1 {
    font-family: 'Conv_Roboto-BoldCondensedItalic', sans-serif;
    font-style: italic;    
    font-size: 3rem;
}

.assortment-page .parthners {
    margin-top: 2rem;
}

.bread-crumbs-wrap {
    text-align: left;
    border-bottom: 1px solid #eae9e9;
}

.breadcrumb {
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}


.breadcrumb a {
    color:#999999;
}

.breadcrumb-item.active {
    color: #323232;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #6c757d;
    content: ">";
}

.sidebar {
    margin-top: .5rem;
}

.sidebar-shop .widget {
    color: #323232;
    margin: 1rem 0 1rem;
    border-bottom: .1rem solid #eae9e9;
}

.sidebar-shop .widget:last-child {
    border: none;
}

label {
    color: #323232;
}

.widget-clean {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.widget-clean a {
    display: inline-block;
    margin-left: auto;
    color: #f7b500;
    margin-bottom: .5rem;
}

.widget-collapsible .widget-body {
    padding-top: 0rem;
    padding-bottom: 1rem;
}

.filter-items-count .filter-item {
    padding-right: 4rem;
}

.filter-item {
    position: relative;
    margin-bottom: .3rem;
}

.sidebar-shop .widget-title {
    color: #323232;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.15;
    letter-spacing: -.01em;
    margin-bottom: .9rem;
}

.widget-collapsible .widget-title a {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
}

.widget-collapsible .widget-title a i {
    color: #323232;
    display: none;
    right: -0.1rem;
    margin-top: -.7rem;
    z-index: 0;
    width: 1rem;
    height: 1rem;
}

.widget-collapsible .widget-title a.collapsed i:first-child {
    display: inline-block;
}
.widget-collapsible .widget-title a.collapsed i:last-child {
    display: none;
}

.widget-collapsible .widget-title a i:last-child {
    display: inline-block;
}
.widget-collapsible .widget-title a i:first-child {
    display: none;
}
*/

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control {
    position: relative;
    padding-left: 2.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebar-shop .custom-control {
    padding-left: 2.7rem;
    margin: 0;
}

.custom-control-label {
    position: static;
    margin-bottom: 0;
    margin-top: .1rem;
    font-size: 1.4rem;
    padding-left: 2.6rem;
    margin-left: -2.6rem;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-control-label::after {
    left: 0;
    top: .6rem;
    width: 1.6rem;
    height: 1.6rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: none;
    font-size: 1rem;
    font-family: 'molla';
    content: '\ec2d';
    line-height: 1;
    text-align: center;
    opacity: 0;
    margin-top: .1rem;
    visibility: hidden;
    transition: opacity .01s;
}

.sidebar-shop .custom-control-label {
    font-weight: 400;
    color: #323232;
    cursor: pointer;
}

.sidebar-shop .custom-control-label::before {
    border-radius: 0.2rem;
}

.custom-checkbox .custom-control-label::after {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: none;
    font-size: 1rem;
    font-family: 'molla';
    content: '\ec2d';
    line-height: 1;
    text-align: center;
    opacity: 0;
    margin-top: .1rem;
    visibility: hidden;
    transition: opacity .01s;
}

.filter-items-count .item-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0rem;
    top: 100%;
    min-width: 1.1rem;
    height: 0.9rem;
    margin-top: -1rem;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1;
    border-radius: 0;
    color: #777;
    background-color: #d8d8d8;
}

.toolbox {
    display: flex;
    align-items: left;
    margin: 1rem 0 1rem;
}

.toolbox a {
    color: #646464;
    text-decoration: underline;
    padding: 0.5rem 0 1rem 0;
}

.toolbox .pagination li {
    margin-right: 5px;
}

.products {
    margin-top: -1.5rem;
}

.products .product-wrap {
    text-align: center;
    padding: 0;
    margin: 5% 5% 10%;
}

.products .product-wrap h3 {
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products .product-wrap:hover, 
.products .product-wrap:focus {
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.1);
}

.products .product-wrap .text-block p {
    max-height: 215px;
}

.product-wrap .img-block img {
    width: 100%;
    height: auto;
    max-width: 180px;
}

.product-wrap.big .img-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-wrap.big .img-block img {
    max-width: 335px;
}

@media (max-width: 1200px) { 
    .menu > li > a {
        padding: 2rem 1.5rem;
    }

    header.sticky .header-middle .menu.sf-menu > li > a {
        padding: 1.3rem 0 1rem 1.5rem;
    }

    .slider img.bg-slid {
        height: calc(100% + 5vh);
    }

    .parthners {
        margin-top: -13rem;
    }
}

@media screen and (min-width: 992px) {
    .sidebar {
        margin-top: -.3rem;
    }
}

@media (max-width: 991px) {
    .slider img.bg-slid {
        height: 100%;
    }

    .parthners {
        margin-top: -14rem;
    }

    .mb-4 {
        /*display: none;*/
    }

    .top-menu:not(.top-link-menu) ul {
        min-width: 141px;
    }

    .top-menu:not(.top-link-menu) ul {
        display: block;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 20;
        padding-top: .6rem;
        padding-bottom: .6rem;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        margin-top: 1px;
        background-color: #fff;
        box-shadow: 2px 5px 8px rgba(51,51,51,0.05), -2px 5px 8px rgba(51,51,51,0.05);
        text-transform: capitalize;
    }

    .top-menu:not(.top-link-menu)>li {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .top-menu:not(.top-link-menu)>li a i.fa{
        margin-right: 0;
    }

    .top-menu:not(.top-link-menu)>li>a {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .header-top .top-menu ul li {
        border-bottom: 1px solid #c5c5c3;
    }

    .header-top .top-menu ul li:last-child {
        border: none;
    }

    .header-top .top-menu li + li {
        margin-left: 0;
        text-align: center;
    }

    .header-top .top-menu ul li a {
        color: #222;
    }

    .top-menu:not(.top-link-menu) a {
        padding: .3rem 1.3rem;
    }

    .header-middle .header-center {
        display: none;
    }

    .mobile-menu-toggler {
        border: none;
        background: transparent;
        color: #fff;
        padding: .2rem .25rem;
        font-size: 2rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    header.sticky .mobile-menu-toggler {
        color: #323232;
    }
}

@media (max-width: 768px) {
    .page-header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .parthners {
        margin-top: -14rem;
    }

    .featured-products .row>div:last-child {
        margin-bottom: 0rem;
    }

    .featured-products .product-wrap.big {
        margin-bottom: 5rem;
        height: 90%;
    }

    .product-wrap.big {
        margin-top: -30px;
    }
    
}

@media (max-width: 576px) {
    .slider-brands .slick-prev, .leader-positiions-wrap .slick-prev {
        left: 1rem;
    }

    .slider-brands .slick-next, .leader-positiions-wrap .slick-next {
        right: 1rem;
    }

    .parthners {
        margin-top: -14rem;
    }

    .leader-position {
        text-align: center;
        margin: 5% 5% 10%;
    }

    h3.heading-section {
        font-size: 2rem;
        line-height: 2rem;
    }

    .input-group {
        border: none;
        justify-content: flex-end;
    }

    .subscribe-form input {
        border: 1px solid;
    }

    .subscribe h3.heading-section {
        text-transform: none;
        line-height: 2rem;
    }

    .leader-position {
        padding-top: 0;
        margin-top: 0;
    }

    .leader-position .img-block img {
        display: inline-block;
    }
}

@media (max-width: 360px) {
    .parthners {
        margin-top: -13rem;
    }
}